body {
    text-align: center;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img.disabled {
    opacity: 0.5;
}

label {
    cursor: pointer;
}

input {
    cursor: pointer;
}